@{
    ViewData["Title"] = "More Sales";
}

<h2>Welcome to the More Sales page</h2>


@section SaleSection {
    <div>
        Denne tekst forklarer intet
    </div>
}

@section BuySection {
    <div>
        Buying
    </div>
}