

@{
    ViewData["Title"] = "Sale";
}

<h2>Welcome to the Sale page</h2>

<p>Her vises alle vores tilbud.</p>

@section SaleSection {
    <div>
        Denne tekst forklarer hvordan Sale fungerer
    </div>
}